<div id="global" class="container-fluid">
  <div class="row">

    <div id="left_panel" class="col-3">
      <app-tasks></app-tasks>
    </div>

    <div id="right_panel" class="col-9">
      <div class="container">
        <div class="row">
          <div id="upper_panel" class="col-12">

            <mat-tab-group>
              <mat-tab *ngFor="let kid of kids; let index = index" [label]="kid.name">
                <ng-template mat-tab-label>
                  <img src='/assets/img/profile_image.png' class="rounded-circle">
                  <p>{{ kid.name }}</p>
                </ng-template>
                <div id="upper_panel" class="col-6">
                  <app-tasks></app-tasks>
                </div>
                <div id="down_pannel" class="col-6">
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>