<table mat-table class='mainDataTable w-100' #tableSort="matSort" (matSortChange)="sortData($event)"
    [dataSource]="dataTable" matSort>

    <ng-container *ngFor="let column of columns">
        <ng-container [matColumnDef]="column.id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="{{column.id}}" [ngClass]="{'th-column-right': column.pos==='right',
                      'th-column-middle': column.pos==='middle',
                      'd-none': column.display!=='all',
                      'd-sm-table-cell': column.display==='d-sm',
                      'd-md-table-cell': column.display==='d-md',
                      'd-lg-table-cell': column.display==='d-lg',
                      'd-xl-table-cell': column.display==='d-xl'}">{{ column.name }}</th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'text-right': column.pos==='right',
                      'text-center': column.pos==='middle',
                      'd-none': column.display!=='all',
                      'd-sm-table-cell': column.display==='d-sm',
                      'd-md-table-cell': column.display==='d-md',
                      'd-lg-table-cell': column.display==='d-lg',
                      'd-xl-table-cell': column.display==='d-xl'}">
                {{ element[column.id] }}
            </td>
        </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsConfig"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsConfig;" class="touchable"></tr>
</table>
<mat-progress-spinner [mode]="'indeterminate'" [diameter]="50" *ngIf='!dataTable.data'></mat-progress-spinner>
<mat-paginator #tablePaginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>